* {
    margin: 0;              
    padding: 0;             
    box-sizing: border-box; 
    font-family: sans-serif; 
}

html, body {
    height: 100%;  
    width: 100%;  
}

#page1 {
    height: 100vh;                    
    width: 200vh;
    background-color: rgb(255, 255, 255);
    background-position: relative;
}

#contents{
    width: 90%;
    height: 90%;
    margin: auto;
    padding: 20px;
    background-color: rgba(0, 0, 0);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: xx-large;
    text-align: center;
    color: white;
}

.emoji{
    font-size: 500%;
}
